<tr>
    <td>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="<%= question_id %>[]" value="<%= choice_id %>" <%= params[question_id.to_s] && params[question_id.to_s].include?(choice_id.to_s) ? "checked" : "" %>> <%= content %>
            </label>
        </div>
    </td>
</tr>