<input class="big datepicker" type="text" name="<%= question_id %>" data-provide='datepicker' autoclose="true">
<span class="glyphicon glyphicon-calendar"></span>

<script type="text/javascript">
    $('.datepicker').datepicker({
        autoclose: true,
        todayBtn: true,
        todayHighlight: true
    });
</script>
