<input class="big datepicker" type="text" name="<%= question_id %>" <%= @show ? 'disabled="true"' : '' %> value="<%= date %>">
<span class="glyphicon glyphicon-calendar"></span>


<script type="text/javascript">
    $('.datepicker').datepicker({
        autoclose: true,
        format: 'yyyy/mm/dd',
        todayHighlight: true
    });
</script>