<tr>
    <td>
        <input type="radio" name="<%= question_id %>" value="<%= choice_id %>" <%= choice_id.to_s == params[question_id.to_s] ? "checked" : "" %> >
    </td>
    <td>
        <%= content %>
    </td>
</tr>
