<div class="nested-fields">
  <div class="field">
  	<table class="table">
            <tr>
                <td>
                    <input type="radio" disabled>
                </td>
                <td>
                    <%= f.text_field :content, :class => 'big' %>
                </td>
                <td>
                    <%= link_to_remove_association raw("<span class=\"glyphicon glyphicon-remove\"></span>"), f %>
                </td>
            </tr>
        </table>
  </div>
</div>

